
<form action="/posts" method="post" enctype="multipart/form-data">
  <div>
    <label for="img">画像: </label>
    <input type="file" name="img">
  </div>
  <div>
    <label for="title">タイトル: </label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="content">本文: </label>
    <textarea name="content" cols=100 rows=30></textarea>
  </div>
  <input type="submit" value="投稿">
</form>